---
import Image from "astro/components/Image.astro";
import AstroContainer from "../components/AstroContainer.astro";
import { FlipWords } from "../components/FlipWords";
import img1 from "../../../../public/1party.webp";
import img2 from "../../../../public/2party.webp";
import img3 from "../../../../public/3party.webp";
import img4 from "../../../../public/4party.webp";
import img5 from "../../../../public/5party.webp";
import img6 from "../../../../public/party6.webp";
---

<section class="my-24 py-20 lg:my-32" id="zdjecia">
  <AstroContainer>
    <FlipWords
      className="text-4xl px-4 lg:text-5xl w-full text-left uppercase font-bold mb-16 text-primary"
      words={["Zdjęcia z imprezy"]}
      client:visible
    />
    <div class="py-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <Image src={img1} alt="" class="h-full" />
      <Image src={img2} alt="" />
      <Image src={img3} alt="" />
      <Image src={img4} alt="" />
      <Image src={img5} alt="" />
      <Image src={img6} alt="" />
    </div>
  </AstroContainer>
</section>
