---
import "@fontsource/cormorant-upright";
import "@fontsource-variable/montserrat";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description?: string;
  keywords?: string;
  url?: string;
}

const {
  title,
  description = "",
  keywords,
  url = "https://www.strona-slubna.pl",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content={keywords} />
    <link rel="icon" type="image/svg+xml" href="/LOGO.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={url} />
    <!-- OG tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={title} />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={`${url}/hero-img.webp`} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --primary: #6c4e3f;
  }

  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
    font-family: "Montserrat Variable", sans-serif;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Cormorant Upright", serif;
  }

  .text-cormorant {
    font-family: "Cormorant Upright", serif;
  }

  .text-primary {
    color: var(--primary);
  }

  .bg-primary {
    background-color: var(--primary);
  }
</style>
