---
import "@fontsource/cormorant-upright";
import "@fontsource-variable/montserrat";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description?: string;
  keywords?: string;
  robots?: string;
  url?: string;
  headerDark?: boolean;
}

const {
  title,
  description = "",
  keywords,
  robots = "index, follow",
  url = "https://www.strona-slubna.pl",
  headerDark = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content={keywords} />
    <meta name="robots" content={robots} />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" hreflang="pl" href={url} />
    <link rel="alternate" href={url} />

    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={url} />
    <!-- OG tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={`${url}/hero-img.webp`} />
    <meta property="og:image:alt" content="Strona Slubna" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="google-site-verification"
      content="nt_AD7zouk3DZz90GzlZwlw3Ppefx-zn3g4VpVaT8f4"
    />
    <title>{title}</title>
    <meta property="og:locale" content="pl" />
  </head>
  <body>
    <Header bgDark={headerDark} />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --primary: #6c4e3f;
    --primary-dark: #422f25;
    --creme: #faf6f2;
  }

  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
    font-family: "Montserrat Variable", sans-serif;
    background-color: #faf6f3;
    color: white;
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Cormorant Upright", serif;
  }

  .text-cormorant {
    font-family: "Cormorant Upright", serif;
  }

  .text-primary {
    color: var(--primary);
  }

  .bg-primary {
    background-color: var(--primary);
  }
</style>
